/* Tipografia Poppins 
font-family: "Poppins", sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: black;
}

header{
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo{
    height: 40px;
    width: auto;
}
.search {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
}


.nav-pie {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-pie a {
    color: black;
    text-decoration: none;
    font-size: 1em;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.banner-img {
    width: 100%;
    height: auto;
}

.banner-button{
    position: absolute;
    top: 90%; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1; 

}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.subscribe h3 {
    margin-bottom: 10px;
}

.subscribe p {
    margin-bottom: 10px;
}

.subscribe input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    width: 200px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.footer-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-icons a {
    margin-left: 10px;
}

.social-icons img {
    height: 20px;
    width: auto;
}



/* PRODUCTOS */
.titulo-productos h1{
    text-align: center;
}
.container-card {
width: 250px;
height: 380px;
border: 1px solid black;
text-align: center;
border-radius: 5px;
box-shadow: 5px 5px 10px black;
}

.container-card div{
    width: 100%;
    height: 70%;
}

.container-card div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container-productos {
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content:space-evenly;
    align-items: center;
}
.buy-button {
    cursor: pointer;
}

/* CONTACTO*/
body.contactohtml {
background-color: #A39087;
  display: flex;
 flex-direction: column;
  min-height: 100vh;        
}
.formulario {
 width: 0.125rem;
height: 23.75rem;
}
.formulario{
    padding: 2rem;
    align-content: center;
    max-width: 50%;
    width: 100%;
}
.formulario form{
  display: flex;
 flex-direction: column;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario input[type="submit"] {
    padding: 0.5rem;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.sobretucompra{
    text-align: center;
}

body.productos {
    background-color: #E2CCC6;
}



/* F0E8E2 fondo de faqs */ 
/* A39087 fondo contacto */

body.nosotrashtml {
    background-color: #333;

}
.nosotras h1{
    text-align: center;
background-color: rgb(204, 165, 228);
}


/*FAQS*/

body.faqshtml {
    background-color: #F0E8E2;
    margin: 0;
  display: flex;
 flex-direction: column;
  min-height: 100vh;  
}
.faqs {
    width: 100%;
   height: 23.75rem;
   }
.faqs{
    align-content: center;
    max-width: 100%;
    width: 100%;
}

main{
    display: grid;

}

.faqs h1 {
    background-color: rgb(179, 163, 144);
}

.faqs p{
    background-color: rgb(207, 189, 167);
}


